/*---------------------------------------------------*/
/*                     Component                     */
/*---------------------------------------------------*/

// 変数の定義
main-color = #fff;
sub-color = #333;
bass-color = #f7f4e8;




.cover {
  &__image{
    width: 100%;
  }
}


// 固定メニューでページ移管先のスクロール一がずれる問題を解決する
.scrollTarget{
  position: relative;
  display: block;
  top:-30px;
}


.btn{
  btn;
  &--ghost{
    btnGhost(#333);
    width: 200px;
  }
  &--flat{
    btnFlat(#333);
    width: 200px;
  }
}

// 比率
.proportion{
  position: relative;
  width: 100%;
  &:after{
    padding-top: 100%;
  }
  &__item{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}


// 進捗バー
.progress{
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}


// 引用
.blockquote{
  padding: 0.5em 1em;
  border:solid 2px #333;
}

/*---------------------------------------------------*/
/*                     Modules                     */
/*---------------------------------------------------*/



.videoframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  &__item {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}



// 準備中
.comingSoon {
  min-height: 250px;
  width: 100%;
  background-color: #fff;
  &__inner{
    text-align: center;
    font-size: 2rem;
    max-width: 600px;
    margin: 60px auto;
  }
}




.card{
  &__image{

  }
  &__link{

  }
  &__content{

  }
  &__title{

  }
  &__line{

  }
}


.breadcrumb{
  text-align: left;
  max-width: $container-width;
  margin: 1em auto;
  padding: 0 1em;
  &__item {
    display: inline-block;
    margin-right: 1em;
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      margin-right: 1em;
    }
    &:first-child:before {
      content: "";
      display: none;
    }
  }
  &__link {
    display: inline-block;
  }
}



.mobile{
  position: relative;
  &--open {
    opacity: 1;
    z-index: 1;
    &__menu{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 100;
      transition: opacity 0.5s;
      opacity: 0;
    }
  }
  &__toggle{
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    width: 80px;
    font-size: 1em;
  }
}



// pager
.pager {
  padding: 3px 1em;
  max-width: $container-width;
  margin: 1em auto;
  &__item{
    display: inline-block;
    text-align: center;
    margin: 0 0.5em;
    border: solid 1px #333;
  }
  &__link{
    display: block;
    padding: 5px 5px;
    width: 27px;
    color: #333;
    background-color: #ddd;
  }
  &__text{
    border-radius: 0;
    width: auto;
  }
}




/*---------------------------------------------------*/
/*                     Parts                         */
/*---------------------------------------------------*/




.form{
  &__group{

  }
  &__horizontal{

  }
  &__label{
    display: block;
  }
  &__danger{
    color: red;
    font-size: 0.8em;
  }
  &__control{
    padding: 5px;
    border: solid 1px #333;
    background-color: #fff;
  }
  &__textarea{
    padding: 5px;
    border: solid 1px #333;
    background-color: #fff;
  }
  &__helpBlock{
    font-size: 0.8em;
    color: #999;
  }
  &__checkbox{
    display: none;
    &+.checkboxIcon {
      position: relative;
      vertical-align: middle;
      &:before {
        content: "\f372";
        font-family: "Ionicons";
        color: #ccc;
        font-size: 22px;
      }
    }

    &:checked+.checkboxIcon:before {
      content: "\f374";
      color: #17bcdf;
    }
  }
  &__radio {
    display: none;
    &+.radioIcon:before {
      content: "\f3a6";
      font-family: "Ionicons";
      color: #ccc;
      font-size: 22px;
    }
    &:checked+.radioIcon:before {
      content: "\f3a7";
      color: #17bcdf;
    }
  }
  &__fileWap {
    color: red;
    padding: 3px 6px;
    border: solid 1px red;
    input[type="file"] {
      display: none;
    }
  }
}


.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  &__td {
    padding: 0.8em 1em;
  }
  &__th {
    width: 30%;
    text-align: right;
    font-weight: normal;
  }

  mq-down(md) {
    padding: 0 10px;
    &__td {
      width: 100%;
      display: block;
    }
    &__th {
      text-align: center;
    }
  }
}





/*---------------------------------------------------*/
/*                     Framework                     */
/*---------------------------------------------------*/



// グリッドを生成
grid(grid, 12, 20);

// グリッドcssの指定方法
// .testwap {
//     gridcss(4,10px);
//     .testitem {
//         gridcss-col(4, 10px, xs);
//         gridcss-col(6, 10px, md);
//         gridcss-col(8, 10px, lg);
//         gridcss-col(12, 10px, xl);
//     }
// }


.hero{
  width: 100%;
  height: 100vh;
}

.container {
  max-width: $container-width;
  margin: auto;
  mq-down(md) {
    width: 95%;
    margin: auto;
  }
  &--mini{
    max-width: $container-width - 300px;
    margin: auto;
  }
  &--full{
    padding: 20px 0;
  }
}





