<ol class="breadcrumb">
    <li class="breadcrumb__item">
        <a class="breadcrumb__link">HOME</a>
    </li>
    <li class="breadcrumb__item">
        <a class="breadcrumb__link">商品</a>
    </li>
    <li class="breadcrumb__item">商品詳細</li>
</ol>