<div class="textBox">
    <div class="textBox__title">タイトル</div>
    <div class="textBox__content">
        ここにコンテンツが入ります。
    </div>
</div>

<div class="textBox textBox--center">
    <div class="textBox__title">タイトル</div>
    <div class="textBox__content">
        ここにコンテンツが入ります。
    </div>
</div>