<div class="banner">
    <a href="" class="banner__item banner__item--left"><img src="http://placehold.jp/900x250.png" alt=""></a>
    <a href="" class="banner__item banner__item--center"><img src="http://placehold.jp/900x250.png" alt=""></a>
    <a href="" class="banner__item banner__item--right"><img src="http://placehold.jp/900x250.png" alt=""></a>
</div>