<ul class="list">
    <li class="list__item">
        項目
    </li>
</ul>

<ul class="list list--disk">
    <li class="list__item">
        項目
    </li>
</ul>

<ul class="list list--circle">
    <li class="list__item">
        項目
    </li>
</ul>

<ul class="list list--number0">
    <li class="list__item">
        項目
    </li>
</ul>

<ul class="list list--number1">
    <li class="list__item">
        項目
    </li>
</ul>

<ul class="list list--number2">
    <li class="list__item">
        項目
    </li>
</ul>

<ul class="list list--number3">
    <li class="list__item">
        項目
    </li>
</ul>