

/****************************************

          WordPress Misc

*****************************************/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.wp-caption {
    margin: 10px;
    padding-top: 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f3f3f3;
    text-align: center;
}

.wp-caption-text,
.gallery-caption {
    font-size: 80%;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
}

.wp-caption-dd {
    margin: 0;
    padding: 0 4px 5px;
    font-size: 11px;
    line-height: 17px;
}

img.alignright {
    display: inline-block;
    float: right;
    margin: 5px 0 20px 20px;
}

img.alignnone {
    margin: 5px 20px 20px 0;
}

img.alignleft {
    display: inline-block;
    float: left;
    margin: 5px 20px 20px 0;
}

#gallery-1 {
    margin: auto;
}

#gallery-1 .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
}

#gallery-1 img {
    border: 2px solid #cfcfcf;
}

#gallery-1 .gallery-caption {
    margin-left: 0;
}

li.bypostauthor {
    border: #333 1px solid;
}






/****************************************

          Post

*****************************************/

.postContents {

    p {
        display: block;
        margin: 1em 0;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    blockquote {
        display: block;
    }
    /* img */
    img[class*="wp-image-"],
    img[class*="attachment-"] {
        height: auto;
        max-width: 100%;
    }

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        max-width: 100%;
        height: auto;
    }
    h1 {}
    h2 {
        background: #000;
        color: #eee;
        padding: 8px 10px;
        margin: 50px auto 15px;
        font-size: 1.4rem;
    }
    h3 {
        border-bottom: solid 1px #ddd;
        padding: 0.5em 1em 0.3em;
        margin-bottom: 30px;
        font-size: 1.3rem;
    }
    h4 {
        border-bottom: solid 1px #ddd;
        padding-left: 0.3em;
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1.1rem;
    }
    ol {
        padding-left: 1.5em;
    }
    ul {
        padding-left: 1.5em;
    }
}
