<ul class="newsList">
    <li class="newsList__item">
        <span class="newsList__data">2018.04.12</span>
        <a class="newsList__link" href="">項目名</a>
    </li>
    <li class="newsList__item">
        <span class="newsList__data">2018.04.04</span>
        <a class="newsList__link" href="">項目名</a>
    </li>
</ul>