extends ./_product
append variables
	//- 変更する
	- var pageTitle= "";
	- var pageDescription= description;
	- var pageClass= "index";
	- var relativePath= "../";
	//- オプション
	- var pageOgpTitle= "";
	- var pageOgpImage= ogpImage;
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- Not modified
	- var breadcrumTitle= "テスト";
	//- 変更しない
append item
	- var productNane= "テスト";