.banner{
	display: flex;
	flex-wrap: wrap;
	&__item{
		max-width: 600px;
		display: block;
		&--left{
			margin: 0 auto 0 0;
		}
		&--center{
			margin: 0 auto;
		}
		&--right{
			margin:0 0 0 auto;
		}
	}
	img{
		width: 100%;
	}
}