.nav {
	text-align: center;
	display: flex;
	&__item {
		display: block;
		
	}
	&__link {
		display: block;
		padding: 0.5em;
		color: #333;
		height: 100%;
		line-height: 1.5em;
		&:hover{
			color:#aaa;
		}
	}

}
