$container-width = 900px
.pager {
	padding: 3px 1em;
	max-width: $container-width;
	margin: 1em auto;
	&__item {
		display: inline-block;
		text-align: center;
		margin: 0 0.5em;
	}
	&__link {
		border: solid 1px #aaa;
		display: block;
		padding: 5px 5px;
		width: 27px;
		color: #333;
		background-color: #ddd;
	}
}