.textBox{
  &--center{
    text-align: center;
  }
  &__title{
    font-weight: bold;
    font-size: 1.8rem;
		margin-bottom: 0.8em;
    line-height: 1em;
  }
	&__content{
		font-size: 1.3rem;
		line-height: 2em;
		color: #666;
	}
}