header.wrapper__header
  nav.globalNav
    button#js-navToggle.navToggle
    li.navItem: a(href=pageUrl+"index.html") PROFILE
    li.navItem: a(href=pageUrl+"index.html") WORKS
    li.navItem: a(href=pageUrl+"index.html") CONTACT
  div.logo: a(href=pageUrl+"index.html") I.T. ポートフォリオ

