header.wrapper__header
  nav.globalNav
    button#js-navToggle.navToggle
    li.navItem: a(href=relativePath+"index.pug") PROFILE
    li.navItem: a(href=relativePath+"index.pug") WORKS
    li.navItem: a(href=relativePath+"index.pug") CONTACT
  div.logo: a(href=relativePath+"index.pug") I.T. ポートフォリオ