<ul class="nav">
    <li class="nav__item">
        <a class="nav__link" href="./index.html">TOP</a>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="./product.html">プロダクト</a>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="./about.html">アバウト</a>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="./contact.html">コンタクト</a>
    </li>
</ul>