<div class="pager">
    <li class="pager__item">
        <a href="" class="pager__link">1</a>
    </li>
    <li class="pager__item">
        <a href="" class="pager__link">2</a>
    </li>
    <li class="pager__item">
        <a href="" class="pager__link">3</a>
    </li>
    <li class="pager__item">
        <a href="" class="pager__link">4</a>
    </li>
    <li class="pager__item">
        <a href="" class="pager__link">5</a>
    </li>
</div>