body {
	// background: url(../images/bg.png);
}

#login {
	box-sizing: border-box;
	padding: 60px 0 20px;
}

.login h1 a {
	// background-image: url(../images/logo.png);
	background-position: center;
	padding: 10px 5% 25px;
	box-sizing: border-box;
	margin: 0 auto 30px;
}

.login form {
	margin-top: 0;
}

.wp-core-ui .button-primary {
	background: #333;
	border: solid 1px #333;
	text-shadow: none;
	box-shadow: 0 1px 0 #333;
	&:hover , &:focus {
		background-color: #fff;
		color: #333;
		border: solid 1px #333;
		box-shadow:none;
	}
}

.login #backtoblog a,
.login #nav a {
	display: inline-block;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	border: solid 1px #333;
	color: #333;
	background-color: #fff;
	&:hover ,&:focus{
		color: #fff;
		background-color: #333;
	}
}

.login #login_error, .login .message{
	border-left: 4px solid #ff7b2c;
}
