<table class="table">
    <tbody>
        <tr class="table__row">
            <th class="table__column">タイトル</th>
            <td class="table__column">項目</td>
        </tr>
        <tr class="table__row">
            <th class="table__column">タイトル</th>
            <td class="table__column">項目</td>
        </tr>
        <tr class="table__row">
            <th class="table__column">タイトル</th>
            <td class="table__column">項目</td>
        </tr>
    </tbody>
</table>