
<div class="grid grid--mb2 cols-12 cols-sm-6 cols-md-3">
    <div class="grid__item">
        <div class="card">
            <div class="card__img">
                <img src="http://placehold.jp/300x200.png">
            </div>
            <div class="card__title">タイトル</div>
            <div class="card__icon">NEW!</div>
            <div class="card__content">
                <p>テキスト</p>
                <p>テキスト</p>
                <p>テキスト</p>
            </div>
            <div class="card__btnWap">
                <div class="card__btn">
                    <a class="btnGhost" href="./product/item01.html">リンク</a>
                </div>
            </div>
        </div>
    </div>
</div>