/*!
 * テーマ名：thema
 * 説明：WordPressテーマ作成用
 * バージョン：1.0
 */

@import "../../node_modules/ress/dist/ress.min.css"
// @import "wp";
// @import "_bass"
// @import "module/**.styl"
// @import "layout/*.styl"
