.privacyPolicy{
	padding: 1em;
	h1{
		font-size: 2rem;
		text-align: center;
		margin: 1em 0;
	}
	h2{
		font-size: 1.4rem;
		margin: 1.5em 0 0.5em;
	}
	p{
		margin-bottom: 1em;
		line-height: 1.6em;
	}
	ul{
		margin: 1em 0;
		padding-left: 1em;
		li{
			margin-bottom: 1em;
			& > ul {
				padding-left: 1em;
			}
			& > ol {
				padding-left: 1em;
			}
		}
	}
	ol{
		padding-left: 1em;
	}
	.tR{
		text-align: right;
	}
}