<div class="masonryBlock">
    <div id="item1" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/888888/ffffff/300x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item2" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/999999/ffffff/600x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item3" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/666666/ffffff/300x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item4" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/777777/ffffff/600x600.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item5" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/9c9c9c/ffffff/600x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item6" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/666666/ffffff/300x600.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item7" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/999999/ffffff/300x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item8" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/888888/ffffff/300x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item9" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/999999/ffffff/300x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
    <div id="item10" class="masonryBlock__item">
        <a href="" class="masonryBlock__link">
            <img src="http://placehold.jp/aaaaaa/ffffff/300x300.png" alt="" class="masonryBlock__img">
        </a>
    </div>
</div>