<div class="cover">
    <video id="covervid-video" width="1920" height="1080" autoplay="" muted="" playsinline="">
        <source src="https://timeair.jp/wp-content/themes/tap/movie/top_movie.mp4">
    </video>
</div>


<div class="cover">
    <img src="http://placehold.jp/900x350.png" alt="">
</div>